<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>

  <div>
    <h3>Dummy page form</h3>
    <div>
      <label>TITLE</label>
      <input type="text" name="title" [(ngModel)]="data.title"/>
    </div>

    <div>
      <label>Content</label>
      <app-test-markdown-editor  name="content" [(ngModel)]="data.content" required="true" #content="ngModel"></app-test-markdown-editor>
      <div class="error" *ngIf="content.hasError('required')">
          Content is required.
      </div>

      <div class="error" *ngIf="content.hasError('maxlength')">
          Content too long
      </div>
    </div>


    <h3>Value is:</h3>
    <p>{{ data | json }}</p>
  </div>


 

  
</div>

<div>UI KIT DEMO </div>
<app-uikit-markdown-editor [(ngModel)]="data.content"></app-uikit-markdown-editor>





