<div class="maddob-markdown-editor-container" [ngClass]="{'fullscreen': fullscreenEnabled}">

  <!-- HEADER -->
  <div class="maddob-markdown-editor-header">
    <div class="maddob-markdown-editor-left">
        <button>bold</button>
        <button>italic</button>
        <button>quote</button>
    </div>

    <div class="maddob-markdown-editor-center">
        <button>link</button>
        <button>image</button>
    </div>

    <div class="maddob-markdown-editor-right">
        <button (click)="togglePreview()">preview on</button>
        <button (click)="toggleFullscreen()">fullscreen</button>
    </div>
  </div>

  <!-- EDITOR CONTENT -->
  <div class="maddob-markdown-editor-content" 
  [ngClass]="{'default-height': !fullscreenEnabled, 'full-height': fullscreenEnabled}">
    <div class="maddob-markdown-editor" (window:resize)="resizeEditor()">
      <textarea #editor></textarea>
    </div>

    <div *ngIf="previewEnabled" class="maddob-markdown-editor-preview" [innerHTML]="parsedHtml"
    [ngClass]="{'default-height': !fullscreenEnabled, 'full-height': fullscreenEnabled}">
    </div>    
  </div>
</div>