.maddob-markdown-editor-container {
    border: 1px solid #777;
}

.maddob-markdown-editor-content {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.maddob-markdown-editor {
    flex-basis: 50%;
    flex-grow: 1;
    overflow: scroll;
}

.maddob-markdown-editor-preview {
    flex-basis: 50%;
    flex-grow: 1;
    overflow: scroll;
    padding: 0 5px 0 5px;
    border-left: 1px solid #ccc;
}

/* HEADER */
.maddob-markdown-editor-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #777;
}

.maddob-markdown-editor-header-left {
    display: flex;
    justify-content: flex-start;
}

.maddob-markdown-editor-header-center {
    flex-grow: 0;
    display: flex;
    justify-content: center;
}

.maddob-markdown-editor-header-right {
    display: flex;
    justify-content: flex-end;
}

.default-height {
    height: 300px;
}

.full-height {
    height: 100%;
}

 /***** FULLSCREEN CSS *****/
.fullscreen {
    background-color: white;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 1000;
}

.fullscreen .maddob-markdown-editor-header {
    flex-basis: 20px;
    flex-grow: 0;
}

.fullscreen .maddob-markdown-editor-content {
    flex-grow: 1;
}